@import 'tailwindcss';

@theme {
  --font-sans: 'Inter Tight Variable', 'Noto Sans TC Variable', sans-serif;
  --font-serif: 'PT Serif', 'Noto Serif TC Variable', serif;
  --font-mono: 'JetBrains Mono Variable', monospace;

  --color-bg: #101010;
  --color-primary: #ffc799;
}

.bordered-table {
  @apply border border-white;
}

.bordered-table th {
  @apply border border-white px-1 py-2;
}

.bordered-table td {
  @apply border border-white px-1 py-2;
}
