@import 'tailwindcss';

@theme {
  --font-sans: 'Inter Tight Variable', 'Noto Sans TC Variable', sans-serif;
  --font-serif: 'PT Serif', 'Noto Serif TC Variable', serif;
  --font-mono: 'JetBrains Mono Variable', monospace;

  --color-bg: #101010;
  --color-primary: #ffc799;
  --color-primary-muted: #787878;
}

.bordered-table {
  @apply border border-white;
}

.bordered-table th {
  @apply border border-white px-1 py-2;
}

.bordered-table td {
  @apply border border-white px-1 py-2;
}

.blueprint-grid {
  background-image: linear-gradient(
      to right,
      rgba(255, 255, 255, 0.01) 1px,
      transparent 1px
    ),
    linear-gradient(to bottom, rgba(255, 255, 255, 0.01) 1px, transparent 1px);
  background-size: 25px 25px;
}
