---
import { Image } from 'astro:assets'
import { Github } from 'simple-icons-astro'
import profileImage from '../assets/ethan-huang.jpg'
import Layout from '../layouts/Layout.astro'
import Email from '../components/obfuscate/Email.astro'
---

<Layout
  class='h-svh flex flex-col items-start justify-center gap-5'
  header={false}
>
  <div class='flex flex-col mt-2 gap-5 justify-start items-start'>
    <Image
      src={profileImage}
      alt='黃靖緯 Ethan Huang'
      class='rounded-full w-[60px]'
      transition:name='logo'
      loading='eager'
    />
    <div class='flex flex-col items-start justify-start w-full gap-2'>
      <h1 class='text-3xl font-semibold' transition:name='name'>
        Ethan Huang <span
          class='font-normal text-lg text-slate-400 whitespace-nowrap'
          >黃靖緯</span
        >
      </h1>
    </div>
  </div>
  <div class='py-1 space-y-2'>
    <p>Poli-Sci student by day, developer by curiosity.</p>
    <p>Creating insightful data analysis and bringing stories to life.</p>
  </div>
  <div class='flex items-center justify-start gap-2' transition:name='sub'>
    <a href='https://github.com/chingweih'><Github size={18} /></a>
    <Email email='e@ethanhuang.me' text='e@ethanhuang.me' class='underline' />
  </div>
</Layout>
