---
import { Image } from 'astro:assets'
import profileImage from '../assets/ethan-huang.jpg'
---

<div class='flex flex-col my-2 gap-3 w-full justify-center items-start'>
  <a href='/'>
    <div class='flex flex-row items-center justify-center gap-2'>
      <Image
        src={profileImage}
        alt='黃靖緯 Ethan Huang'
        class='rounded-full w-[30px]'
        transition:name='logo'
      />
      <h1 class='text-3xl font-semibold' transition:name='name'>
        黃靖緯 <span
          class='font-normal text-lg text-slate-400 whitespace-nowrap'
          >Ethan Huang</span
        >
      </h1>
    </div>
  </a>
  <slot transition:name='sub' />
</div>
