---
import '@fontsource-variable/noto-sans-tc'
import '@fontsource-variable/noto-serif-tc'
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' href='/favicon.ico' />
    <meta name='generator' content={Astro.generator} />
    <title>黃靖緯 Ethan Huang</title>
  </head>
  <body
    class='bg-bg bg-[linear-gradient(to_right,#80808012_1px,transparent_1px),linear-gradient(to_bottom,#80808012_1px,transparent_1px)] bg-[size:12px_12px] text-slate-800 font-sans'
  >
    <div class='mx-auto w-full max-w-md px-5 py-8'>
      <slot />
    </div>
  </body>
</html>
