<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='generator' content={Astro.generator} />
    <title>黃靖緯 Ethan Huang</title>
  </head>
  <body class='bg-bg'>
    <div class='mx-auto w-full max-w-md px-8 py-4'>
      <slot />
    </div>
  </body>
</html>
